/* Estilos para inputs customizados */
.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.input-suffix {
  position: absolute;
  right: 10px;
  color: #777;
  pointer-events: none;
}

#run-distance {
  padding-right: 30px; /* Espaço para o sufixo "km" */
}

#run-duration {
  text-align: center;
}
